<!-- Custom logo -->
<div id="home" class="flex-center flex-column">
    <img src="/assets/img/logo.png" style="width:400px; height: 400px;" alt="burger drawing">
    </div>
</div>
<div class="container">
<div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Order Your Burger</strong>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}" data-newDevoured={{devour}}><span class="fa fa-cutlery"> Devour it!</span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Devoured Burgers</strong>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!-- Submit New Order -->
      <div class="row mt-5"></div>
      <div class="container">
          <div class="col-xs-12 text-center">
        <form class="create-form flex-center flex-column">
            <div class="order">
                <label for="newburger" id="color-overrides">New order :</label>
                <input type="text" class="form-control" id="newburger" name="burger" id="enter_text">
                {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                <br>
                <button type="submit" class="btn btn-primary" id="addburger">Submit Order</button>
            </div>
            </form>
            <br>
                <p>Enter a burger you want to eat Click the "Submit" button.</p>
            </div>
        </div>
    </div>
</div>